<div class="container2">
  <h1>Stupid Coaching</h1>
  <ul>
    <li>What you asked: <%= params[:question]%></li>
    <li>Answer: <%= @answer%></p></li>
  </ul>
<div>

  <%= link_to 'Ask a new question', '/ask'%>
